table{
    font-size: 18px;
}


table.table-bordered{
    border:1px solid rgb(0, 0, 0);
  }
table.table-bordered > thead > tr > th{
    border:1px solid rgb(0, 0, 0);
}
table.table-bordered > tbody > tr > td{
    border:1px solid rgb(0, 0, 0);
}

