@media screen and (max-width : 900px) {
    
    #full{
       margin-bottom: 80px;
    }
    #file{
        margin-bottom: 15px;
    }

    
}




.hide {
    display: none;
  }
  .inner { 
      position: relative; 
  }
  
 .inner .fa {
    position: absolute;
    padding: 10px 30px;
    z-index: 100;
    cursor: pointer;
  }

 .right .fa { right: 0px; }
 .right input { padding-right: 30px; }
  
