<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>


<div class="container bg-light   ">

  <form name="val">

    <div class=" mt-5">
    <label for="calculator" class="font-weight-bold h3">Calculator</label>

    <input type="text" class="form-control"  name="answer">

    </div>

    <div class="row m-3" id="secrow">
        <button class="btn btn-info font-weight-bold" onclick="document.val.answer.value+='1'">1</button>
        <button class="btn btn-info font-weight-bold" onclick="document.val.answer.value+='2'">2</button>
        <button class="btn btn-info font-weight-bold" onclick="document.val.answer.value+='3'">3</button>
        <button class="btn btn-dark font-weight-bold" onclick="document.val.answer.value+='+'">+</button>
    </div>
    
    <div class="row  m-3" id="secrow">
        <button class="btn btn btn-info " onclick="document.val.answer.value+='4'">4</button>
        <button class="btn btn btn-info " onclick="document.val.answer.value+='5'">5</button>
        <button class="btn btn btn-info " onclick="document.val.answer.value+='6'">6</button>
        <button class="btn btn btn-dark " onclick="document.val.answer.value+='-'">-</button>
    </div>

    <div class="row  m-3 " id="secrow">
        <button class="btn btn btn-info "onclick="document.val.answer.value+='7'">7</button>
        <button class="btn btn btn-info "onclick="document.val.answer.value+='8'">8</button>
        <button class="btn btn btn-info "onclick="document.val.answer.value+='9'">9</button>
        <button class="btn btn btn-dark "onclick="document.val.answer.value+='*'">x</button>
    </div>

    <div class="row  m-3 " id="secrow">
      <button class="btn btn btn-dark " onclick="document.val.answer.value =''">C</button>
      <button class="btn btn btn-info " onclick="document.val.answer.value+='0'">0</button>
      <button class="btn btn btn-dark " onclick="document.val.answer.value = eval(document.val.answer.value)">=</button>
      <button class="btn btn btn-dark " onclick="document.val.answer.value+='/'">/</button>
  </div>

  </form>

</div>














      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>