<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>




<nav class="navbar  fixed-top bg-danger" >
    <div class="container-fluid">
      <h3 class="text-white">Effec Tube</h3>
      </div>
  </nav> 

  <div class="container-fluid" id="full">

    <div class="row" id="a">

        <div class="col-md-8">
            <iframe width="100%" height="550px" src="https://www.youtube.com/embed/MDLn5-zSQQI" [src]="urlSafe" allow="autoplay">
            </iframe> 
            <h3>{{text}}</h3>
            
            
        </div>

        <div class="col-md-4">

            <div (click)="playvideo()" class="b" class="row">  
              <div class="col-sm-8">
                <img src="assets/img/html.png" alt="html" height="100%" width="100%" >
                <img src="assets/img/play.png" alt="play" class="but">
                </div>
                <div class="col-sm-4" id="des">
                  <h4 [(ngModel)]="video1">HTML Tutorial </h4>
                </div>
            </div>
            <hr>

            <div (click)="playvideo1()" class="b" class="row">  
              <div class="col-sm-8">
              <img src="assets/img/css.png" alt="css" height="100%" width="100%" >
              <img src="assets/img/play.png" alt="play" class="but">
            </div>
            <div id="des" class="col-sm-4">
              <h4 [(ngModel)]="video2">CSS Tutorial</h4>
            </div>
            </div>
            <hr>

            <div (click)="playvideo2()" class="b" class="row">  
              <div class="col-sm-8">
                <img src="assets/img/bootstrap.png" alt="bootstrap" height="100%" width="100%" >
                <img src="assets/img/play.png" alt="play" class="but">
              </div>
              <div id="des" class="col-sm-4">
                <h4 [(ngModel)]="video3">BOOTSTRAP Tutorial</h4>
              </div>
              </div>
              <hr>

            <div (click)="playvideo3()" class="b" class="row">  
              <div class="col-sm-8">
                <img src="assets/img/focus.png" alt="focus" height="100%" width="100%" >
                <img src="assets/img/play.png" alt="play" class="but">
              </div>
              <div id="des" class="col-sm-4">
                <h4 [(ngModel)]="video4">Deep Focus</h4>
              </div>
              </div>
              <hr>

            <div (click)="playvideo4()" class="b" class="row">  
              <div class="col-sm-8">
                <img src="assets/img/angular.png" alt="angular" height="100%" width="100%" >
                <img src="assets/img/play.png" alt="play" class="but">
              </div>
              <div id="des" class="col-sm-4">
                <h4 [(ngModel)]="video5">Angular Tutorial</h4>
              </div>
              </div>

        </div>

    </div>
  </div> 