<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>







<div class="container">

    <div [hidden]="submitted">
      <h1>Form</h1>

      <form (ngSubmit)="onSubmit()" #helloForm="ngForm"> 
        

        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control " id="fname"
                   required
                   [(ngModel)]="model.fname" name="fname" #fname="ngModel">

            <div [hidden]="fname.valid || fname.pristine " class="alert alert-danger ">
              First Name is required
            </div>
          </div>

        <div class="form-group">
          <label for="lname">Last Name</label>
          <input type="text" class="form-control " id="lname"
                 required
                 [(ngModel)]="model.lname" name="lname" #lname="ngModel">
          <div [hidden]="lname.valid || lname.pristine" class="alert alert-danger">
            Last Name is required
          </div>
        </div>

        <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control " id="mail"
                   required
                   [(ngModel)]="model.mail" name="mail"
                   #mail="ngModel">
            <div [hidden]="mail.valid || mail.pristine" class="alert alert-danger">
              Email is required
            </div>
          </div>

          <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control " id="gender" required
            [(ngModel)]="model.genders" name="genders"
                #power="ngModel">
              <option *ngFor="let pow of genders" [value]="pow">{{pow}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="num">Mobile No</label>
            <input type="number" class="form-control " id="num"
                   required maxlength="10" (keypress)="keyPressNumbers($event)"
                   [(ngModel)]="model.num" name="num"
                   #num="ngModel">
            <div [hidden]="num.valid || num.pristine " class="alert alert-danger ">
              Mobile Number is required
            </div>
          </div>
          
          <button type="submit" class="btn btn-success" [disabled]="!helloForm.form.valid">Submit</button> &nbsp; &nbsp;
          <button type="button" class="btn btn-danger" (click)="newadd(); helloForm.reset()">Reset</button>

        </form>
</div>

<!------------------------------------------------------->

<div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">First Name: </div>
      <div class="col-xs-9">{{ model.fname }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Last Name: </div>
      <div class="col-xs-9">{{ model.lname }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Email: </div>
        <div class="col-xs-9">{{ model.mail }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Gender: </div>
        <div class="col-xs-9">{{ model.genders }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Mobile No: </div>
        <div class="col-xs-9">{{ model.num }}</div>
      </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
  
