<!doctype html>
<html lang="en">
  <head>
    <title>Calculator</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>







<div class="container mt-5">
  
    <div class="form-group row">
      <label class="col-md-1 ">Value 1:</label>
      <div class="col-md-11">
        <input [(ngModel)]='number1' class="form-control " type="number" name="num1">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-1 ">Value 2:</label>
    <div class="col-md-11 ">
        <input [(ngModel)]='number2' class="form-control " type="number" name="num2">
      </div>
    </div>

    <h4> Answer: {{ result }} </h4>


    <div class="row justify-content-around mt-5 ">

        <button class="btn btn btn-primary col-sm-2 mb-3 ml-3 mr-3" (click)="add()">+</button>
        <button class="btn btn btn-primary col-sm-2 mb-3 ml-3 mr-3" (click)="sub()">-</button>
        <button class="btn btn btn-primary col-sm-2 mb-3 ml-3 mr-3" (click)="multi()">*</button>
        <button class="btn btn btn-primary col-sm-2 mb-3 ml-3 mr-3" (click)="division()">/</button>
        <button class="btn btn btn-warning col-sm-2 mb-3 ml-3 mr-3" (click)="clear()">C</button>
        
      
    </div>

</div>